h1 {
    color: white;
    background-color: #0D47A1;
}

.sixth {
    background-color: #FFFFFF;
}

.fifth {
    background-color: #E3F2FD;
}

.second {
    color: red;
}

#fourth {
    color: white;
    background-color: #0D47A1;
}