h1 {
    color: blue;
}

.second {
    color:aqua;
    font-weight: 700;
    font-weight: bold;
    font-size: 16px;
}

h2 {
    color: #FF28D1;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
}

#fourth {
    color: #FFD13B;
    font-weight: 400;
    font-size: 18px;
}

#fifth {
    color: #8E8E8E;
    font-weight: 400;
    font-size: 13px;
}